---
---
$primary: #3E12A5;
$secondary: #E581E0;
$light: #FAF9F8;
$dark: #1F2753;
$accent: #9fa8ed;

@import "../bootstrap/scss/bootstrap";

.logo{
	min-width:75px;
	max-width:150px;
	width:20vw;
}

.vdiv{
	width:1.5px;
	background-color:$dark;
	height: 65vh;
	padding-left: 0px;
	padding-right: 0px;
	max-height: 20vw;
}

.bg-accent{
	background-color: $accent;
}

.card-rounded{
	border-radius: 15px;
}

.text-justify {
  text-align: justify;
}

.navbar{
	min-height: 7.5vw;
}

.header-light{
	font-size: calc(1.3rem + .6vw);
	font-weight: 200;
	margin-bottom: 0;
}

.email-call{
	font-weight: 600;
}

.neno-banner{
	color: #fff;
	font-weight: 600;
	font-size: 2rem;
	margin-bottom: 0;
}

.neno-blurb{
	color: #fff;
	font-weight: 400;
	font-size: 1.3rem;
}

.footer{
	font-size: .75em;
}

@media (min-width: 992px) {
	.neno-banner{
		font-size: 3rem;
	}

	.neno-blurb{
		font-size: calc(1.3rem + .6vw);
	}
}
